/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
    margin: 0;
    padding: 8px 10px 10px 10px;
    font: 12px/17px Arial, Helvetica, sans-serif;
    background: White;
    color: DarkSlateGrey;
    /*font-family: Tahoma, Verdana, sans-serif;*/
    font-size: 10pt;
}

div#main {
    margin: 0;
    padding: 0 20px 20px;
}

a {
    background: transparent;
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

h1 {
    color: #002be1;
    font-size: 150%;
    font-style: italic;
    display: block;
    width: 100%;
    border-bottom: 1px solid DarkSlateGrey;
}

.header-title {
  width: 100%;
}

.header-title > h1 {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    background-color: #3c80ff;
    color: white;
    border-bottom: 4px solid #0012e1;
    font-size: 2em;
    font-style: normal;
    letter-spacing: 2px;
}

table#table {
    /*margin: 10px;*/
    border-collapse: collapse;
    width: 100%;
    border-bottom: 2px solid black;
}

table#table th {
    /*border: 2px solid white;*/
    border: 0px solid white;
    font-weight: bold;
    background-color: #e2edff;
}

table#table th, table#table td {
    padding: 4px;
    text-align: left;
}

.flash {
    border: 1px solid #000000;
    color: #0a09ad;
    font-weight: bold;
    margin: 1em 0;
    padding: 4px;
}

.flash#notice {
    background-color: #dcffbc;
}

.flash#error {
    background-color: #ffe8e6;
}

.flash#warning {
    background-color: #ffffd2;
}

form label {
    display: block;
    line-height: 18px;
    font-size: 13px;
    font-weight: bold;
    color: black;
}

form table td label {
    text-align:right;
}

form textarea {
    width: 390px;
    height: 100px;
    padding: 2px;
}

label#position {
    font-size: 10px;
}

.map {
    margin-bottom: 10px;
    width: 100%;
    height: 500px;
}

.form-label{

}

.formulario{
    width: 40%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    border: solid 1px #a6a6a6;
    text-align: center;
    background-color: #e5e5e5;
    margin-left: auto;
    margin-right: auto;
}

.form-control{
    margin: 10px 10px;
    padding: 10px 5px;
}

.form-group{
    margin-left: auto;
    margin-right: auto;
}

.form-content{
    padding-bottom: 10px;
    padding-top: 10px;
}

.page-header,.page-header h1{
    border: none;
    font-style: normal;
    font-weight: bold;
}

.page-header hr{
    width: 50%;
}

.btn{
    border: solid 1px #005ce6;
    border-radius: 3px;
    padding: 5px 5px;
    font-family: 'Roboto',Sans-Serif;
    font-size: 1em;
}


.btn-primary{
    background-color: #3c80ff;
    color: white;
    text-shadow: #333333 1px 0px;
}

.btn-small{
    width: 10%;
}

.btn-medium{
    width: 30%;
}

.btn-large{
    width: 50%;
}

.table-points{
    width: 100%;
    text-align: left;
    border: none;
}

.table-points > thead{
     background-color: #4dc3ff;
 }

.danger > thead{
    background-color: #ff704d;
}

.table-points > thead > tr > th{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    letter-spacing: 1px;
}






.breadcum-nav{
    border-bottom:  solid 5px #a6a6a6;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #e5e5e5;
    list-style: none;
    color: black;
}
.breadcum-nav > li{
    display: inline-block;
    color: black;
    font-size: 1.2em;
    letter-spacing: 1px;
    padding-right: 5px;
}

.breadcum-nav > li > a{
    text-decoration: none;
    color: black;
}


.perimeter-info{
    text-align: right;
}

.perimeter-info label{
    font-weight: bold;
    font-size: 1.2em;
}